body {
    width: 30em;
    padding: 0.5em;
}

#generatedPassword {
    width: 97.5%;
    min-height: 3em;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.2em;
    font-size: large;
    word-wrap: anywhere;
}